{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "last",
    "prettier/react",
    "plugin:react/recommended",
    "plugin:flowtype/recommended",
    "plugin:jest/recommended"
  ],
  "settings": {
    "react": { "version": "detect" }
  },
  "rules": {
    "no-console": "off",
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "react/react-in-jsx-scope": "off",
    "react/display-name": "off"
  }
}