{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "../common/.eslintrc",
    "plugin:react/recommended",
    "plugin:jest/recommended"
  ],
  "plugins": ["react-hooks"],
  "settings": {
    "react": { "version": "detect" }
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
