token = 'Project Secret Token'
test_run_id = 'Last 4 digits of test run URL'

only='tests'
with_folders = 'true'
sort = '[order,id]'

execution_environment = 'STAGING'
language = 'javascript'
framework = 'mocha'
output_directory = 'cypress/integration'

push = 'cypress/reports/*.xml'
filename_pattern = '%a%b%d%g'
push_format = 'junit'
